/* Div Selector */

/* Div > .mystyle */
div.mystyle {
   font-size: 23px;
   font-weight: bold;
}

/* Id Selector */
#div_green  {
    background-color: lightgreen;
}

#div_blue {
     background: #1089E8;
}

div#one{
    background: red;
    font-size: 32px;
    margin-left: 15px 15px 0px 0px;
    margin-top:

}



#apple{
    line-height: 2.3;
    text-align: center;

}
